.container {
  display: flex;
  align-items: center;
  gap: 1.7vw;
  height: 100%;
  width: 90%;
  overflow-x: auto;
  user-select: none;
  cursor: pointer;
}

.toolcard,
.activetoolcard {
  display: flex;
  gap: 1vw;
  border: 2px solid var(--color-main-text);
  border-radius: 1vh;
  box-sizing: border-box;
  width: 14.6vw;
  height: 9.1vh;
  align-items: center;
  padding-left: 1.6vw;

  h5 {
    font-weight: 600;
    font-size: 1.08vw;
    line-height: 1.08vw;
    user-select: none;
    cursor: pointer;
  }

  label {
    user-select: none;
    cursor: pointer;
    font-size: 1.06vw;
    line-height: 1.06vw;
  }
}

.activetoolcard {
  border-color: var(--color-secondary);
}

.titles {
  text-align: start;
}

.toolimg {
  max-width: 46px;
  max-height: 46px;
  height: 4.6vh;
  width: 4.6vh;
  box-sizing: border-box;
  border-radius: 1vh;
  overflow: hidden;
  border: 0 solid var(--color-main-text);
}
