.container {
  width: 55%;
  align-self: start;
  text-align: left;
}

.privacyTitle {
  margin-bottom: 10px;
}

.description label {
  font-size: 0.8vw;
}

.privacybubble {
  display: flex;
  width: 75%;
  align-items: center;
  padding: 2vw 4.5vw;
  padding-top: 4.5vw;
  border: 2px solid var(--color-main-text);
  border-radius: 13px;
  flex-direction: column;
}

.privacybubble h3 {
  font-size: 1.1vw;
  color: var(--color-main-text);
  line-height: 1.8vw;
}

.privacybubble label {
  font-size: 0.8vw;
}

.privacybubble svg {
  width: 5vw;
  color: var(--color-secondary);
  padding-bottom: 2vh;
}

.settingsrow {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  padding-top: 4.5vh;
  row-gap: 4vh;
}
.settings {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.settings img {
  width: 2.2vw;
}

.settings label {
  font-size: 0.8vw;
}
