.productpagination {
  display: flex;
  width: 100%;

  margin-right: auto;
  flex-direction: column;
  align-items: center;
}
.paginationcontent {
  display: flex;
  justify-content: start;
  align-self: start;
  flex-direction: column;
}

.productcardcont {
  width: 20.65vw;
  height: 17.2vh;
}

.productlist {
  display: grid;
  position: relative;
  row-gap: 2.3vh;
  column-gap: 2.5vw;

  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.paginationcontrols {
  display: flex;
  align-items: center;
  margin-top: 2.8vh;
  align-self: center;
}

.pagedots {
  display: flex;
  gap: 0.5vw;
  margin: 0 10px;
}

button {
  padding: 5px 10px;
}

.dot {
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  border: 1px solid var(--color-main-text);
}

.dotactive {
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  background-color: var(--color-main-text);
}
.leftarrow {
  position: absolute;
  width: 1.55vw;
  left: -40px;
  scale: -1 1;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  align-self: center;
}
.rightarrow {
  position: absolute;
  width: 1.55vw;
  right: -40px;
  height: fit-content;
  cursor: pointer;
  align-self: center;
}
.header {
  margin-bottom: 1vh;
  position: relative;
  align-self: start;
  text-align: center;
  font-size: 1.1vw;
  font-weight: 600;
}
