.productpagination {
    display: flex;
    width: 100%;

    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }
  .paginationcontent{
    display: flex;
    justify-content: start;
    align-self: start;
    flex-direction: column;
  }
  
  .productlist {
    display: grid;
    position: relative;
    row-gap: 1.5vw;
    column-gap: 3vw;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .productbadge {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  
  .paginationcontrols {
    display: flex;
    align-items: center;
    margin-top: 20px;
    align-self: center;
  }
  
  .pagedots {
    display: flex;
    gap: 5px;
    margin: 0 10px;
  }
  
  
  
  button {
    padding: 5px 10px;
  }
  

.dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid var(--color-main-text);
  }
  
  .dotactive {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-main-text);
  }
.leftarrow{
  position: absolute;
  width: 30px;
  left: -40px;
  scale: -1 1;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  align-self: center;
}
.rightarrow{
  position: absolute;
  width: 30px;
  right: -40px;
      height: fit-content;
    cursor: pointer;
    align-self: center;
}
.header{
    padding-bottom: 8px;
    position: relative;
    align-self: start;
    text-align: center;
    font-size: 1.1vw;
    font-weight: 600;
}