.productpagination {
  display: flex;
  width: 100%;

  margin-right: auto;
  flex-direction: column;
  align-items: center;
}
.paginationcontent {
  display: flex;
  justify-content: start;
  align-self: start;
  flex-direction: column;
}

.productcardcont {
  width: 20.3vw;
  height: 17.7vh;
}

.productlist {
  display: grid;
  position: relative;
  row-gap: 3.8vh;
  column-gap: 2.8vw;

  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.paginationcontrols {
  display: flex;
  align-items: center;
  margin-top: 3.2vh;
  align-self: center;
}

.pagedots {
  display: flex;
  gap: 0.5vw;
  margin: 0 10px;
}

button {
  padding: 5px 10px;
}

.dot {
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  border: 1px solid var(--color-main-text);
}

.dotactive {
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  background-color: var(--color-main-text);
}

.leftarrow,
.rightarrow {
  position: absolute;
  stroke: var(--color-main-text);
  stroke-width: 5vh;
  height: 4vh;
  cursor: pointer;
  align-self: center;
  padding: 1vh;
  box-sizing: border-box;
  background: var(--color-background);
  border-radius: 50px;
  aspect-ratio: 1;
}

.leftarrow:hover,
.rightarrow:hover {
  color: var(--color-background);
  background-color: var(--color-main-text);
  transition: all 0.3s ease-out;
}

.leftarrow {
  left: -40px;
  scale: -1 1;
  rotate: 90deg;
}

.rightarrow {
  right: -40px;
  rotate: -90deg;
}

/* .leftarrow {
  position: absolute;
  width: 1.55vw;
  left: -40px;
  scale: -1 1;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  align-self: center;
}
.rightarrow {
  position: absolute;
  width: 1.55vw;
  right: -40px;
  height: fit-content;
  cursor: pointer;
  align-self: center;
} */
.header {
  margin-bottom: 1vh;
  position: relative;
  align-self: start;
  text-align: center;
  font-size: 1.1vw;
  font-weight: 600;
}
