.container {
  border: 2px solid var(--color-main-text);
  border-radius: 2vh;
  flex-direction: row;
  display: flex;
  height: 22.4vh;
  width: 100%;
  box-sizing: border-box;
  padding: 1% 4% 1% 5%;
  align-items: center;

  button {
    padding: 0.4vh 1.8vw;
    color: var(--color-main-text);
    background-color: var(--color-background);
    border: 2px solid var(--color-main-text);
    border-radius: 4px;
    margin-left: auto;
    font-size: 1vw;
    font-weight: 600;
    position: relative;
  }

  button:hover {
    background-color: var(--color-secondary);
    color: var(--color-background);
  }
}

.buttons {
  display: flex;
  margin-left: auto;
  gap: 1vw;

  .redbutton {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

.logo {
  flex: 0 0 4.4vw;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  border: 2px solid var(--color-main-text);
  box-sizing: border-box;
  margin-right: 1.3vw;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.summary {
  text-align: start;
}

.header {
  font-size: 1.25vw;
  line-height: 1.25vw;
  font-weight: 700;
  margin: 0;
}

.status {
  font-size: 1.25vw;
  display: flex;
  font-weight: 500;
  align-items: center;
}

.activeball,
.inactiveball {
  width: 0.9vw;
  height: 0.9vw;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.4vw;
}

.activeball {
  background-color: var(--color-secondary);
}

.inactiveball {
  background-color: red;
}

.toollink {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1000;
}
