.container {
  text-align: start;
  flex-direction: column;
  display: flex;
  height: 100%;
  min-height: 40vh;
  width: 38%;
  h4 {
    font-size: 1vw;
    line-height: 1vw;
  }
}

.title {
  align-items: center;
  display: flex;
  height: 1.8vw;
  h4 {
    font-weight: 700;
    font-size: 1.8vw;
    line-height: 1.8vw;
    margin-block-end: 0;
    margin-right: 1.2vw;
  }
}

.summary {
  font-size: 1.65vh;
  font-weight: 400;
  text-align: justify;
  line-height: 1.85vh;
  margin-top: 0.8vh;
}
.subscriptionelite,
.subscriptionprof,
.subscriptionessential {
  svg {
    width: 1.5vw;
    margin-right: 0.4vw;
  }
}
.subscriptionelite {
  color: var(--color-subscription-elite);
}

.subscriptionprof {
  color: var(--color-subscription-professional);
}

.metrics {
  display: flex;
  flex-direction: column;
  gap: 0.6vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: fit-content;
  font-size: 0.9vw;

  h4 {
    font-size: 1vw;
    line-height: 1vw;
  }
}

.ratings {
  border: 2px solid var(--color-main-text);
  width: fit-content;
  padding: 0 1.1vw 0 0.4vw;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.15vw;
}

.ratingdetails {
  display: flex;
  justify-content: space-between;
}

.ratingsblank,
.ratingsfill {
  width: 1.5vw;
}
.ratingsblank {
  color: var(--color-main-text);
}

.ratingsfill {
  color: var(--color-secondary);
}

.ratings label {
  margin-left: 0.8vw;
  font-size: 1.8vw;
  font-weight: 600;
}

.features {
  margin-top: 1vh;
  ul {
    padding: 0;
    list-style-position: inside;
    line-height: 0.9vw;
    font-size: 0.83vw;
    margin: 0;
    display: flex;
    gap: 0.9vh;
    flex-direction: column;
  }
  li::marker {
    margin: 0;
    padding: 0;
    font-size: 1vh;
  }
}

.explorebutton {
  box-sizing: border-box;
  width: 10.7vw;
  height: 5.8vh;
  padding: 0.8vh 0;
  border-radius: 50px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-background);
  font-size: 1.2vw;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.explorebutton:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.pinicon {
  height: 4vh;
  cursor: pointer;
}

.stats {
  display: flex;
  gap: 1vw;
  margin-bottom: 3vh;
  align-items: center;
}

.stat {
  display: flex;
  border: 2px solid var(--color-main-text);
  border-radius: 1vh;
  box-sizing: border-box;
  gap: 0.5vw;
  min-width: 8.5vw;
  min-height: 5.5vh;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  font-weight: 600;
  padding: 0 1vw;

  svg {
    height: 3vh;
  }
}

.subscriptions {
  width: 100%;
  text-align: start;
  display: flex;
  gap: 0.3vw;
  margin-top: 2.3vh;
  margin-bottom: 0.5vh;
}

.subscriptionboxfree,
.subscriptionboxpaid,
.subscriptionboxcategory {
  color: var(--color-background);
  background-color: var(--color-secondary);
  border: 2px solid var(--color-main-text);
  box-sizing: border-box;
  font-size: 0.85vw;
  line-height: 0.85vw;
  font-weight: 600;
  padding: 1.6% 3.5%;
  border-radius: 8px;
}

.subscriptionboxfree {
  background-color: var(--color-background);
  color: var(--color-main-text);
}
.subscriptionboxpaid {
  background-color: var(--color-main-text);
  color: var(--color-background);
}
.subscriptionboxcategory {
  background-color: var(--color-background);
  color: var(--color-main-text);
  border: 1px solid var(--color-main-text);
}

.divider {
  border-top: 1px solid var(--color-light-grey);
  margin: 0;
  margin-top: 2.4vh;
  margin-bottom: 3.1vh;
}
