.container {
  text-align: start;
  flex-direction: column;
  display: flex;
  height: 100%;


}


.title {

 
  align-items: center;
  display: flex;

  h4{
    font-weight: 700;
    font-size: 1.8vw;
    margin-block-end: 0;
    margin-right: 2.4vw;
    }
}

.subscriptionelite {
  color: var(--color-subscription-elite);
  font-size: 2vw;
  font-weight: 600;
    svg {
    width: 2vw;
    margin-right: 0.4vw;
  }
}

.subscriptionprof {
  color: var(--color-subscription-professional);
  font-size: 2vw;
  font-weight: 600;
    svg {
    width: 2vw;
    margin-right: 0.4vw;
  }
}

.metrics {
  display: flex;
  flex-direction: column;
  gap: 0.4vh;
  margin-top: 0.5vh;
  margin-bottom: 3vh;
  width: fit-content;
  font-size: 12px;

  h4{
    font-size: 1vw;
    line-height: 1vw;
  }
}

.ratings {
  border: 2px solid var(--color-main-text);
  width: fit-content;
  padding: 0 1.1vw 0 0.4vw;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.15vw;
}

.ratingdetails {
  display: flex;
  justify-content: space-between;
}

.ratingsblank,
.ratingsfill {
  width: 1.5vw;
}
.ratingsblank {
  color: var(--color-main-text);
}

.ratingsfill {
  color: var(--color-secondary);
}

.ratings label {
  margin-left: 0.8vw;
  font-size: 1.8vw;
  font-weight: 600;
}

.features {
  margin: 1vh 0;
  ul {
    padding: 0;
    list-style-position: inside;
    line-height: 2.4vh;
    font-size: 0.8vw;  }
}

.features label {
  font-size: 14px;
  color: #777;
}

.explorebutton {
  box-sizing: border-box;
  width: 10.5vw;
  padding: 1.2vh 0;
  border-radius: 8px;
  border: 2px solid var(--color-main-text);
  background-color: var(--color-primary);
  color: var(--color-background);
  font-size: 1.2vw;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.explorebutton:hover {
  background-color: var(--color-background);
  color: var(--color-main-text);
}
