.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  border: 2px solid var(--color-main-text);
  border-radius: 4vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 150;
  }
}

.emptyimage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 3vh;

  label {
    font-weight: 500;
    font-size: 1vw;
    line-height: 1vw;
  }

  svg {
    width: 38%;
    border: 2px solid var(--color-main-text);
    aspect-ratio: 1;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 12%;
  }
}
