.reviewpagination {
  width: 100%;
  align-self: start;
  text-align: left;
}

.filters {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  height: 4vh;
  gap: 1vw;
  margin-bottom: 2vh;
}

.filters h4 {
  font-size: 1vw;
}

.filters label {
  font-size: 0.8vw;
  font-weight: 600;
  height: 100%;
  min-width: 8.2vw;
  gap: 0.4vw;
  border: 2px solid var(--color-main-text);
  border-radius: 24.5px;
  padding: 0.5% 1.4%;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
}

.paginationcontent {
  display: flex;
  justify-content: start;
  width: 100%;
  padding-bottom: 5vh;
}

.reviewlist {
  width: 100%;
  display: grid;
  gap: 0.8vh;

  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
}

.reviewnumbers {
  padding-bottom: 2vh;
  font-size: 0.8vw;
}

.filterbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.circleCheckbox {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 50px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--color-main-text);
  margin-left: auto;
  position: relative;
}

.circleCheckbox:checked::before {
  content: "";
  width: 0.8vw;
  height: 0.8vw;
  background-color: var(--color-main-text);
  border-radius: 50px;
  position: absolute;
  left: -2px !important;
  top: -2px !important;
}

:global(.rs-pagination-group) {
  place-content: center;
}
:global(.rs-pagination-btn) {
  border-radius: 50px !important;
  background-color: var(--color-background) !important;
  color: var(--color-main-text) !important;
  border-color: var(--color-main-text) !important;
  margin: 0 4px !important;

  svg {
    scale: 2;
  }
}

:global(.rs-pagination-btn-active) {
  border-radius: 50px !important;
  background-color: var(--color-main-text) !important;
  color: var(--color-background) !important;
}

.filtersearch {
  height: 100%;
  width: 29%;
}
