/* Base container styling */
.container,
.containeruptick {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-main-text);
  border-radius: 21px;
  text-align: center;
  align-items: center;
  width: 14vw;
  height: 13.2vh;
  box-sizing: border-box;
  position: relative;
  justify-content: center;

  h3 {
    font-size: 1.7vw;
    line-height: 1.7vw;
    font-weight: 700;
    margin: 0;
  }

  label {
    font-size: 0.85vw;
    font-weight: 600;
  }

  a {
    font-size: 0.7vw;
    color: var(--color-main-text);
    margin-top: 5px;
  }
}

.containeruptick {
  border-color: var(--color-secondary);
  color: var(--color-secondary);

  svg {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
    height: 12px;
  }
}
