.filters {
  display: flex;
  width: 52%;
  gap: 2.5%;
}

.filter {
  width: inherit;
  height: 100%;
}

.headersearch {
  width: 30.5%;
  height: 48%;
  display: flex;
  gap: 3%;
  margin-left: 3.7%;
}

.reseticon {
  align-self: center;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box;
  padding: 1%;
  stroke-width: 10vh;
}
.reseticon:hover {
  color: var(--color-background);
  background-color: var(--color-main-text);
  border-radius: 50px;
}

.search {
  position: relative;
  width: 79%;
  height: 100%;
}
