.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  user-select: none;
}

.carouselcontainer {
  display: flex;
}

.customslider {
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 0 !important;

  ul {
    list-style-type: none !important;
    display: inline-flex;
    padding-inline-start: 0;
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  :global(.rs-carousel-label-wrapper:has(> input:checked)) {
    background-color: var(--color-main-text) !important;
    transition: all 0.3s ease-out;
  }

  :global(.rs-carousel-slider) {
    display: flex;
  }
  :global(.rs-carousel-slider-after) {
    display: none;
  }
  :global(.rs-carousel-toolbar) {
    display: none;
    position: absolute;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
  }

  :global(.rs-carousel-label) {
    width: 100% !important;
    height: 100% !important;
  }

  :global(.rs-carousel-label-wrapper) {
    cursor: pointer;
    position: relative;
    height: 1vw;
    width: 1vw;
    border: 2px solid var(--color-main-text);
    border-radius: 50%;
    margin: 0 0.5vw;
  }
}

.imagelist {
  padding-top: 4.5vh;
  display: inline-grid;
  width: 100%;
  column-gap: 1vw;
  grid-template-columns: repeat(5, 1fr);

  div {
    display: flex;
  }
}
.imagelist > div > img,
.imagelist > div > h3 {
  margin: 0;
  align-content: center;
  border-radius: 9px;
  cursor: pointer;
  flex-grow: 1;
  width: 100%;
  transition: all 0.3s ease-out;
  border: 2px solid transparent;
}

.imagelist > div > img:hover {
  border-color: var(--color-primary);
  transition: all 0.3s ease-out;
}

.activeimage {
  img {
    border-width: 3px !important;
    border-color: var(--color-main-text) !important;
    transition: all 0.3s ease-out;
  }
}
