.container,
.selectedcontainer {
  min-width: 10vw;
  padding: 2.5% 0 2% 5%;
  font-size: 1vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-wrap: nowrap;
  width: fit-content;
  cursor: pointer;
  gap: 9%;

  label {
    cursor: pointer;
  }

  svg {
    height: 1.5vw;
    aspect-ratio: 1;
  }
}

.selectedcontainer {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-main-text);
  color: var(--color-background);
  border-radius: 6px;
}

.selectedcontainer svg {
  fill: var(--color-background);
}

.navlink {
  text-decoration: none;
  color: var(--color-main-text);
}
