.container {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 84%;
  padding-left: 15.5%;
  box-sizing: border-box;
  text-align: left;
  h3 {
    margin: 0;
    font-size: 1.2vw;
    font-weight: 600;
  }
}

.bubblecontainer {
  border: 2px solid var(--color-main-text);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 2%;
  width: 100%;
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.navtab {
  gap: 0.8vw;
  display: flex;
}

.navbutton,
.navbuttonselected {
  border-radius: 20px;
  border-width: 0.3vh;
  width: 8.5vw;
  height: 4.5vh;
  font-size: 0.8vw;
  font-weight: 600;
  box-sizing: border-box;
  padding: 0.7vh 0;
  background: var(--color-background);
  color: var(--color-main-text);
}
.navbuttonselected {
  border-width: 0;
  background-color: var(--color-secondary);
  color: var(--color-background);
}

.navbutton:hover,
.navbuttonselected:hover {
  background-color: var(--color-secondary);
  color: var(--color-background);
}

.submitbutton {
  padding: 0.4vh 1vw;
  width: 7vw;
  background: var(--color-background);
  color: var(--color-main-text);
  border-radius: 16px;
  border: 2px solid var(--color-main-text);
  align-self: center;
  font-size: 1vw;
  font-weight: 600;
}

.submitbutton:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.formcontainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.pagecontainer {
  width: 100%;
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  margin-top: 4.8vh;
  gap: 3.9vh;
}
