.container {
  flex-direction: column;
  width: 85%;
  display: flex;
  height: 100%;
  padding-top: 7.4vh;
  box-sizing: border-box;
  padding-left: 15.6vw;
}

.carouselcotainer {
  display: flex;
  box-sizing: border-box;
  width: 40vw;
}

.info {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  gap: 2.3vw;
}

.bodies {
  width: 58%;
}

.divider {
  border-top: 1px solid var(--color-light-grey);
  margin: 0;
  margin-top: 7.4vh;
  margin-bottom: 9.1vh;
}

.productslidercont {
  width: 85%;
}
