.container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4.8vh;
}

.summarybanner {
  display: flex;
  border-radius: 15px;
  border: 2px solid var(--color-main-text);
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.summary {
  display: flex;
  width: 35.5%;
  align-items: center;
  text-align: left;
  place-content: start;
  box-sizing: border-box;
  gap: 0.8vw;
  padding-left: 3.8%;
}

.profileimage {
  display: flex;
  position: relative;
}

.profileimage input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}

.summaryinfo {
  display: flex;
  flex-direction: column;
}
.summary img {
  border-radius: 50%;
  border: 0 solid var(--color-main-text);
  max-width: 111px;
  max-height: 111px;
  width: 5.8vw;
  aspect-ratio: 1;
}

.summary h4 {
  margin: 0;
  margin-bottom: 0.6vh;
  font-size: 1.1vw;
  font-weight: 700;
  line-height: 1.1vw;
}

.summary label {
  font-size: 1.1vw;
  font-weight: 500;
}

.banner {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 70%;
  border-left: 2px solid var(--color-main-text);
}

.banner input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}

.banner img {
  width: 100%;
  height: 26vh;
  max-height: 234px;
}

.banner img:before {
  content: "";
  display: block;
  padding-top: 25%;
}

.banner svg {
  position: absolute;
  right: 2.5vw;
  width: 1.7vw;
  stroke-width: 32px;
}

.formFields {
  display: grid;
  grid-template-columns: 1.12fr 1fr;
  width: 100%;
  min-height: 38vh;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3.5vh;
}

.formFields > *:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.formFields > *:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.formFields > *:nth-child(3) {
  grid-column: 2;
  grid-row: 1 / span 1;
}

.formFields > *:nth-child(4) {
  grid-column: 2;
  grid-row: 2 / span 2;
}

.formRow {
  gap: 2vw;
  display: flex;
}

.formInput {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  input {
    height: 3.6vh;
    font-size: 1vw;
    font-weight: 500;
    border: none;
    border-bottom: 2px solid var(--color-main-text);
    padding: 1%;
  }

  label {
    font-size: 0.8vw;
    line-height: 0.8vw;
    font-weight: 500;
  }

  textArea {
    margin-top: 0.5vh;
    font-size: 0.9vw;
    font-weight: 500;
    color: var(--color-main-text);
    line-height: 0.9vw;
    border-radius: 15px;
    border-width: 2px;
    height: 22vh;
    resize: none;
    padding: 3%;
    box-sizing: border-box;
  }
}

.websitesformInput {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 95%;
  justify-self: flex-end;

  input {
    border: none;
    padding: 1%;
    flex-grow: 1;
    font-size: 1vw;
    font-weight: 500;
    height: 2.9vh;
  }

  label {
    font-size: 0.8vw;
    line-height: 0.6vw;
    font-weight: 500;
  }

  svg {
    width: 1.6vw;
  }
}

.websiteform {
  border-bottom: 2px solid var(--color-main-text);
  display: flex;
  margin-bottom: 1.2vh;

  svg {
    height: 1.8vw;
  }
}

.AddIcon {
  cursor: pointer;
}
