.container {
  display: flex;
  height: 90%;
      width: 100%;
  flex-direction: column;
  place-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-top: 0.8%;
  h1{
    font-size: 3.8em;
    margin: 0;
  }

}

.head{
  height: 34%;
    width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7.2%;
}

.signinbuttons{
  gap: 2%;
    display: flex;
  width: 100%;
  justify-content: center;
  height: 24%;
    margin-top: 0.3%;

  button{
    padding: 0;
    padding-left: 1%;
    width: 19.5%;
        display: flex;
    border-radius: 12px;
    font-size: 0.8em;
    font-weight: 600;
    align-items: center;
    gap: 7%;
    text-wrap: nowrap;
    border-width: 2px;
    background: var(--color-background);
    color: var(--color-main-text);
    box-sizing: border-box;
  }

  button:hover{
    background: var(--color-secondary);
    color: var(--color-background);

    svg{
      color: var(--color-background);
      fill: var(--color-background);

    }
  
  }
  button:disabled{
    cursor: not-allowed;
  }


  label{
    cursor: pointer;
  }

  svg{
    height: 50%;
  }

}

.welcometext{
  font-size: 2.2em;
  font-weight: 500;
}

.divider{
  height: 2px;
  background-color: var(--color-main-text);
  width: 100%;
  margin: 2% 0 2.5% 0;
}

.signup{
  font-size: 1.3em;
  font-weight: 500;
  margin-top: auto;
  a{
  text-decoration: none;
}
}

.imageupload{
  text-align: left;
  gap: 4px;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: 500;
}

.formcontainer{
  display: flex;
  width: 100%;
}
.forminputs{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 12.5%;
  column-gap: 5%;
}

.inputfield{
  display: flex;
  width: 30%;
  text-align: left;
  flex-direction: column;
  gap: 5px;

  label{
    font-size: 1em;
    font-weight: 500;
    text-wrap: nowrap;
    margin-left: 4%;
  }

  input {
    padding: 2%;
    font-size: 1.1em;
    border-radius: 25px;
    box-sizing: border-box;
    border-width: 2px;
    height: 70%;
  }

}

.error{
  margin: 0;
  font-size: 0.8em;
    color: red;
}