.container {
  display: flex;
  height: 90%;
  width: 100%;
  flex-direction: column;
  place-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  h1 {
    font-size: 4.3em;
    margin: 0;
  }
}

.head {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.signinbuttons {
  gap: 2%;
  display: flex;
  width: 100%;
  justify-content: center;

  button {
    padding: 0;
    padding-left: 1%;
    width: 19.5%;
    height: 4em;
    display: flex;
    border-radius: 12px;
    font-size: 0.9em;
    font-weight: 600;
    align-items: center;
    gap: 7%;
    text-wrap: nowrap;
    border-width: 2px;
    background: var(--color-background);
    color: var(--color-main-text);
    box-sizing: border-box;
  }

  button:hover {
    background: var(--color-secondary);
    color: var(--color-background);

    svg {
      color: var(--color-background);
      fill: var(--color-background);
    }
  }
  button:disabled {
    cursor: not-allowed;
  }

  label {
    cursor: pointer;
  }

  svg {
    height: 2em;
  }
}

.welcometext {
  font-size: 2.6em;
  font-weight: 500;
}

.divider {
  height: 2px;
  background-color: var(--color-main-text);
  width: 100%;
  margin: 2.6% 0 2.5% 0;
}

.signup {
  font-size: 1.45em;
  font-weight: 500;
  margin-top: auto;
  a {
    text-decoration: none;
  }
}

.imageupload {
  text-align: left;
  gap: 4px;
  display: flex;
  flex-direction: column;
  font-size: 1.15em;
  font-weight: 500;
  margin-right: 2.2em;
}

.formcontainer {
  display: flex;
  width: 100%;
}
.forminputs {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 12.5%;
  column-gap: 5%;
}

.inputfield {
  display: flex;
  width: 29.7%;
  text-align: left;
  flex-direction: column;
  gap: 0.15em;

  label {
    font-size: 1.15em;
    font-weight: 500;
    text-wrap: nowrap;
    margin-left: 4%;
  }

  input {
    padding: 2%;
    font-size: 1.1em;
    border-radius: 25px;
    box-sizing: border-box;
    border-width: 2px;
    height: 70%;
  }
}

.error {
  margin: 0;
  font-size: 0.8em;
  color: red;
}
