/* product-card.module.css */

.container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: var(--color-off-background);

  box-sizing: border-box;
  align-items: flex-start;
  padding: 8.5% 6% 4% 9%;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: all 0.3s ease-out;
}

.container:hover {
  border-color: var(--color-main-text);
  transition: all 0.3s ease-out;
  svg {
    opacity: 100%;
    transition: all 0.3s ease-out;
  }
}

.logo {
  flex: 0 0 3.8vw;
  align-self: top;
  display: flex;
  margin-right: 1.5vw;
}

.logo::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.logo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.summary {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 12vw;
}

.header {
  text-align: left;
  font-size: 1vw;
  line-height: 1vw;
  font-weight: 600;
}

.body {
  font-size: 1.35vh;
  font-weight: 500;
  text-align: justify;
  line-height: 1.35vh;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.metrics {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.05vh;
  margin-bottom: 4%;
}

.text {
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 0.7vh;
}
.ratings {
  display: flex;
  align-items: center;
  padding-right: 0.6vw;
  gap: 0.06vw;
}
.ratingsblank {
  color: var(--color-main-text);
  width: 0.77vw;
}

.ratingsfill {
  width: 0.77vw;
  color: var(--color-secondary);
}

.ratings label {
  font-size: 0.8vw;
  margin-left: 0.2vw;
}

.downloads {
  display: inline-flex;
  margin-left: 0.45vw;
  align-items: center;

  svg {
    width: 0.8vw;
    padding-right: 0.4vw;
  }

  label {
    font-size: 0.7vw;
    line-height: 0.7vw;
    font-weight: 600;
  }
}

.pinicon {
  opacity: 0;
  width: 2.8vh;
  position: absolute;
  top: 1.4vh;
  right: 1.4vh;
  z-index: 750;
  cursor: pointer;

  transition: all 0.3s ease-out;
}

.pinicon:hover {
  color: var(--color-secondary);
}

.subscriptionprof,
.subscriptionelite {
  width: 1vw;
}

.subscriptionprof {
  color: var(--color-subscription-professional);
}
.subscriptionelite {
  color: var(--color-subscription-elite);
}

.productlink {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 700;
}

.subscriptions {
  width: 100%;
  text-align: start;
  display: flex;
  gap: 0.3vw;
  margin-top: auto;
  margin-bottom: 0.5vh;
}

.subscriptionboxfree,
.subscriptionboxpaid,
.subscriptionboxcategory {
  color: var(--color-background);
  background-color: var(--color-secondary);
  box-sizing: border-box;
  font-size: 0.55vw;
  line-height: 0.55vw;
  font-weight: 600;
  padding: 2% 4%;
  border-radius: 2vh;
}

.subscriptionboxfree {
  background-color: var(--color-main-text);
  color: var(--color-background);
}
.subscriptionboxpaid {
  background-color: var(--color-primary);
  color: var(--color-background);
}
.subscriptionboxcategory {
  background-color: var(--color-background);
  color: var(--color-main-text);
  border: 1px solid var(--color-main-text);
}
.circledivider {
  height: 0.4vh;
  aspect-ratio: 1;
  content: "";
  border-radius: 50px;
  background: var(--color-main-text);
}
