
.container {

}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;

  svg{
    width: 60px;
    margin-right: 5px;
  }
}


.placeholder{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  h5 {
    margin: 0;
    font-size: 1.2rem;
  }

  label {
    font-size: 1rem;
  }
}



