.container {
  height: 15.5vh;
  align-content: center;
  padding-right: 9.4%;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;

  svg {
    width: 4vw;
  }
}

.placeholder {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 1.18vw;
  gap: 0.5vh;
  h5 {
    margin: 0;
    font-size: 1.25vw;
    line-height: 1.25vw;
    font-weight: 600;
  }

  label {
    font-size: 1.25vw;
    line-height: 1.25vw;
  }
}
