.faqcontainer {
  width: 40%;
  align-self: start;
  text-align: left;

  h3 {
    border-bottom: 2px solid var(--color-main-text);
    margin-block-end: 0;
    padding-block-end: 0.75em;
    font-size: 1.4vw;
    line-height: 1.4vw;
  }
}

.faqitem {
  border-bottom: 2px solid var(--color-main-text);
  padding: 2vh 0;
  cursor: pointer;
}

.faqquestion {
  display: flex;
  justify-content: space-between;
  font-size: 0.85vw;
}

.faqtoggle,
.faqtoggleActive {
  width: 0.8vw;
  padding-right: 0.5vw;
}

.faqtoggleActive {
  scale: 1 -1;
}

.faqanswer {
  padding: 2vh 0;
  font-size: 0.85vw;
}

.questioninput,
.answerinput {
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  border: none;
  font-size: 0.8vw;
}
