.container {
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 4%;
  box-sizing: border-box;
  
}

.carouselcontainer{
  width: 85.5%;
  align-self: start;
}

.explorebutton{
  padding: 10px 0;
  display: flex;
    align-self: flex-end;
    position: relative;
    right: 14.5%;

  button{
    box-sizing: border-box;
    width: 8vw;
    background: var(--color-background);
    border-radius: 25px;
    font-size: 0.8vw;
    font-weight: 500;
    border-width: 2px;
    color: var(--color-main-text);
    cursor: pointer;
  }
}