.container {
  width: fit-content;
  padding-left: 3%;
  box-sizing: border-box;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.5vh;
  column-gap: 2.85vw;
  padding-top: 2.2%;
  padding-bottom: 5.5%;
}

.productcardcont {
  width: 20.7vw;
  height: 19.3vh;
}
