.container {
  width: fit-content;
  padding-left: 3%;
  box-sizing: border-box;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.5vh;
  column-gap: 2.85vw;
}

.productcardcont {
  width: 20.4vw;
  height: 18vh;
}
