.header {
  background-color: var(--color-background);
  padding-bottom: 0;
  padding-left: 3.1%;
  padding-right: 1%;
  padding-top: calc(15.8vh * 0.46);
  display: flex;
  height: 15.8vh;
  position: sticky;
  top: 0;
  z-index: 800;
  box-sizing: border-box;
}

.header:after {
  content: "";
  position: absolute;
  left: 15.5%;
  width: 69%;
  bottom: 0;
  border-bottom: 1px solid var(--color-grey);
}

.signinbutton {
  background-color: var(--color-main-text);
  border-radius: 2vh;
  color: var(--color-background);
  border: none;
  height: 4.1vh;

  font-weight: 500;
  font-size: 0.85vw;
  width: 5vw;
  position: absolute;
  left: 78.2vw;
  padding: 0.4vw;
}

.productlink {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1000;
}
