.header {
  background-color: var(--color-background);
  padding-bottom: 0;
  padding-left: 6.6%;
  padding-right: 1.5%;
  padding-top: calc(20vh * 0.6);
  display: flex;
  height: 20vh;
  position: sticky;
  top: 0px;
  z-index: 999;
  box-sizing: border-box;
}
