.container,
.toscontainer {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  width: 83%;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
  padding: calc(74.4vh * 0.1) 0 calc(74.4vh * 0.057) 0;
  gap: 1.5%;
}
.toscontainer {
  padding: 3.8% 0 2% 0.5%;
  width: 82%;
  gap: 5%;
}

.createbutton,
.backbutton,
.acceptbutton {
  border-radius: 50px;
  border-width: 0.2vh;
  background: var(--color-background);
  color: var(--color-main-text);
  padding: 1%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 2.4vh;
  height: 4.8vh;
  width: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createbutton {
  margin-top: 6vh;
}

.acceptbutton {
  background: var(--color-main-text);
  color: var(--color-background);
}

.createbutton:hover,
.acceptbutton:hover {
  background: var(--color-secondary);
  color: var(--color-background);

  svg {
    color: var(--color-background);
    fill: var(--color-background);
  }
}

.backbutton:hover {
  border: 0.2vh solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-background);
}
.createbutton:disabled {
  cursor: not-allowed;
}

.buttons {
  width: 100%;
  display: flex;
  align-self: start;
  gap: 1.6vw;
}

.signup {
  font-size: 1.05vw;
  line-height: 1.05vw;
  font-weight: 500;
  margin-top: 2.5vh;
  a {
    text-decoration: none;
    font-weight: 600;
  }
}
