.container {
  width: 75%;
  align-self: start;
  text-align: left;

  h3 {
    font-size: 1.3vw;
    border-bottom: 2px solid var(--color-main-text);
    margin-block-end: 0;
    padding-bottom: 1vh;
  }
}

.faqitem {
  border-bottom: 2px solid var(--color-main-text);
  padding: 2vh 0;
  cursor: pointer;
}

.faqquestion {
  display: flex;
  justify-content: space-between;
  font-size: 0.85vw;
}

.faqtoggle,
.faqtoggleActive {
  width: 0.8vw;
  padding-right: 0.5vw;
}

.faqtoggleActive {
  scale: 1 -1;
}

.faqanswer {
  padding: 2vh 0;
  font-size: 0.85vw;
}
