.container {
  display: flex;
  width: 100%;
  margin-right: auto;
  user-select: none;
}

.arrowiconleft {
  stroke: var(--color-main-text);
  stroke-width: 55px;
  width: 1.8vw;
  transform: translateX(-1.8em);
  scale: -1;
  padding: 1px;
}
.arrowContainer {
  align-self: center;
  height: 0;
  width: 0;
  position: relative;
  z-index: 100;
  cursor: pointer;
  top: -2em;
}

.arrowiconright {
  stroke: var(--color-main-text);
  stroke-width: 55px;
  width: 1.8em;
  transform: translateX(-3.6em);
  padding: 1px;
}

.customslider {
  ul {
    list-style-type: none !important;
    display: inline-flex !important;
    padding-inline-start: 0 !important;
  }
  input,
  input:checked {
    position: absolute !important;
    opacity: 0 !important;
    cursor: pointer !important;
    height: 1.2vh !important;
    width: 1.2vh !important;
    margin: 0 !important;
    left: 0 !important;
  }

  :global(.rs-carousel-label-wrapper) > input:checked ~ label {
    background-color: var(--color-main-text) !important;
    transition: background-color 0.3s;
  }

  :global(.rs-carousel-label) {
    position: absolute !important;

    cursor: pointer !important;
    height: 1.2vh !important;
    width: 1.2vh !important;
    margin: 0 !important;
    left: 0 !important;
  }

  :global(.rs-carousel-slider-after) {
    display: none !important;
  }

  :global(.rs-carousel-content) {
    border: 2px solid var(--color-main-text) !important;
    border-radius: 14px !important;
    min-width: 474px !important;
  }

  :global(.rs-carousel-toolbar) {
    position: absolute !important;
    width: 100% !important;
    text-align: center !important;
    bottom: 0.5vh !important;
  }

  :global(.rs-carousel-label-wrapper) {
    cursor: pointer !important;
    position: relative !important;
    height: 1.2vh !important;
    width: 1.2vh !important;
    box-sizing: content-box;
    border: 2px solid var(--color-main-text) !important;
    border-radius: 50% !important;
    margin: 0 5px !important;
  }
}

:global(.rs-carousel) {
  height: auto !important;
  background-color: inherit !important;
  padding-bottom: 3.2vh !important;
}
