.container {
  flex-direction: column;
  display: flex;
  height: 100%;
  flex-grow: 1;
  width: 44%;
  place-content: center;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
  padding-top: calc(74.4vh * 0.16);
  padding-bottom: calc(74.4vh * 0.085);
  justify-content: start;

  h1 {
    font-size: 5.6vh;
    line-height: 4.5vh;
    margin: 0;
    margin-bottom: 3.5vh;
  }

  button:hover {
    background: var(--color-secondary);
    color: var(--color-background);

    svg {
      color: var(--color-background);
      fill: var(--color-background);
    }
  }
  button:disabled {
    cursor: not-allowed;
  }
}

.head {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.signinbuttons {
  gap: 4.2%;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 3.9%;
  margin-bottom: 5vh;
  button {
    border-width: 0.2vh;
    background: var(--color-background);
    color: var(--color-main-text);
    box-sizing: border-box;
    height: 4.6vh;
    width: 10.9vw;
    padding: 0;
    display: flex;
    border-radius: 1vh;
    font-size: 0.68vw;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    gap: 4%;
    text-wrap: nowrap;
    padding-left: 0.8%;
  }

  button:hover {
    background: var(--color-secondary);
    color: var(--color-background);

    svg {
      color: var(--color-background);
      fill: var(--color-background);
    }
  }

  label {
    cursor: pointer;
  }

  svg {
    height: 50%;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 100%;
}
.welcometext {
  font-size: 1.9vw;
  line-height: 1.9vw;
  font-weight: 500;
}

.divider {
  border-top: 0.2vh solid var(--color-main-text);
  width: 100%;
  margin-top: 7.8%;
  margin-bottom: 4.4%;
}

.inputfields {
  display: flex;
  flex-direction: column;
  font-size: 1.05vw;
  width: 100%;
  text-align: start;
  gap: 0.5vh;
  label {
    font-weight: 500;
  }

  input {
    width: 100%;
    height: 3.1vh;
    padding: 1% 2%;
    border: none;
    border-bottom: 0.2vh solid var(--color-main-text);
    box-sizing: border-box;
    font-size: 2vh;
  }
}

.signup {
  font-size: 1.05vw;
  line-height: 1.05vw;
  font-weight: 500;
  margin-top: auto;

  a {
    text-decoration: none;
  }
}

.error {
  margin: 0;
  font-size: 0.8em;
  color: red;
}

.continuebutton {
  border-radius: 50px;
  border-width: 2px;
  background: var(--color-background);
  color: var(--color-main-text);
  padding: 1%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 2.2vh;
  height: 4.8vh;
  width: 12vw;
  margin-top: 5vh;
}
