.container {
  width: 100%;
  margin-top: auto;
  align-items: center;
  box-sizing: border-box;
  padding: 0 3.5%;
  height: 23vh;
  display: flex;
  background: var(--color-main-text);
  color: var(--color-background);
  justify-content: start;
  text-align: left;

  a:active,
  a:focus,
  a:hover {
    text-decoration: none;
    color: var(--color-main-text);
  }
  h5 {
    font-size: 1.2vw;
    margin-bottom: 8%;
  }
}

.signature {
  display: flex;
  flex-direction: column;
  margin-right: 4.8vw;

  label {
    font-size: 0.8vw;
  }

  h2 {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }
}

.subscriptions {
  background: var(--color-background);
  color: var(--color-main-text);
  width: 9.3vw;
  height: 16vh;
  padding: 1.5% 0;
  padding-left: 1.1%;
  align-items: center;
  box-sizing: border-box;
  border-radius: 1.5vh;
  display: flex;
  flex-direction: column;
  font-size: 0.85vw;
  font-weight: 500;
  margin-right: 5vw;

  h5 {
    margin: 0;
    font-size: 0.8vw;
  }
  ul {
    padding-inline-start: 0;
    margin-block-start: 0;
  }
}

.company {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
  align-self: start;
  margin-top: 4%;
  label {
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
  }
}

.information {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
  align-self: start;
  margin-top: 4%;
  label {
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
  }
}

.social {
  align-self: start;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
}

.socialicons {
  display: flex;
  gap: 10px;

  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.essential li,
.professional li,
.elite li {
  list-style-type: none;
  position: relative;
  margin: 5px 0;
}

.essential li::before,
.professional li::before,
.elite li::before {
  content: "";
  display: inline-block;
  width: 0.5vw;
  height: 0.5vw;
  margin-right: 0.4vw;
  vertical-align: middle;
  border: 2px solid var(--color-main-text);
}

.essential li::before {
  background: var(--color-background);
  border-radius: 50%;
}

.professional li::before {
  background: var(--color-subscription-professional);
  border-radius: 50%;
}

.elite li::before {
  background: var(--color-subscription-elite);
  border-radius: 50%;
}
