.container {
  width: 100%;
  align-self: start;
}

.divider {
  height: 2px;
  background-color: var(--color-main-text);
  margin-left: 1vw;
  flex-grow: 1;
}

.descriptiontitle {
  align-items: center;
  display: flex;
  width: 100%;
  text-wrap: nowrap;

  h3 {
    font-size: 1.1vw;
    font-weight: 700;
    margin: 0;
  }
}

.bio {
  text-align: left;
  width: 100%;
  font-size: 0.85vw;
}

.descriptionimages {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5vh;

  img {
    width: 100%;
    align-self: start;
    border: 2px solid var(--color-main-text);
    border-radius: 24px;
  }
}

.labelledImage {
  display: flex;
  flex-direction: column;
}

.labelledimages {
  display: grid;
  gap: 1.2vw;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 2px solid var(--color-main-text);
    border-radius: 24px;
    max-width: 90%;
    align-self: center;
    margin-bottom: 1vh;
  }
}

.descriptioncontainer {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
