.container {
  flex-direction: column;
  margin-right: auto;
  width: 100%;
  display: flex;
  padding-left: 4%;
  box-sizing: border-box;
  height: 100%;
}

.carouselcontainer {
  display: flex;
  box-sizing: border-box;
  width: 40vw;
  margin-right: 2vw;
}

.info {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.submitbutton {
  padding: 5px 20px;
}

.productlink {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1000;
}

.previewbutton,
.createbutton {
  float: inline-start;
  width: 15vw;
  height: 6vh;
  background: var(--color-secondary);
  color: var(--color-background);
  position: relative;
  border: 2px solid var(--color-main-text);
  border-radius: 8px;
  font-size: 1.3vw;
}

.createbutton {
  background: var(--color-primary);
}

.buttons {
  display: flex;
  gap: 0.4vw;
}

.filters {
  display: flex;
  width: 54%;
  gap: 1%;
  height: 5vh;
}

.filter {
  width: inherit;
  height: 100%;
}
