.container {
  flex-direction: column;
  margin-right: auto;
  width: 100%;
  display: flex;
  padding-left: 5%;
  box-sizing: border-box;
  height: 100%;
}

.info {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.divider {
  height: 2px;
  background-color: var(--color-main-text);
  margin-left: 25px;
  flex-grow: 1;
}

.descriptiontitle {
  align-items: center;
  display: flex;
  width: 100%;
  text-wrap: nowrap;
}
.explorebutton {
  padding: 10px 0;
  display: flex;
  align-self: flex-end;
  position: relative;
  right: 24%;

  button {
    background: var(--color-background);
    border-radius: 15px;
    font-size: 15px;
    padding: 6px 16px;
    border-width: 1px;
    cursor: pointer;
  }
}

.bio {
  text-align: left;
  width: 100%;
  padding-bottom: 20px;
}

.descriptionimages {
  display: flex;
  width: 100%;
  flex-direction: column;

  img {
    max-width: 90%;
    align-self: center;
    padding: 10px 0;
  }
}

.labelledImage {
  display: flex;
  flex-direction: column;
}
.labelledimages {
  padding: 0 30px;
  display: grid;
  gap: 20px;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  img {
    max-width: 90%;
    align-self: center;
    padding: 10px 0;
  }
}

.cont {
  width: 70%;
  margin-right: auto;
}
.descriptioncontainer {
  display: flex;
  flex-direction: column;
}

.submitbutton {
  padding: 5px 20px;
}
