.dropdowncontainer {
  position: relative;
  width: 100%;
  height: 100%;
}
select {
  background-image: url("/src/public/svg/UP-Down Arrow.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: calc(90%) center;
}

.input {
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  border-width: 2px;
  border-radius: 25px;
  border-color: var(--color-main-text);
  height: 100%;
  padding-left: 12%;
  font-family: var(--main-font);
}

select:focus,
input:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}
