.dropdowncontainer {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.dropdowncontainer:hover,
.dropdowncontainer:focus {
  color: var(--color-secondary);
}
.svgicon {
  position: absolute;
  left: 86%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.9vw;
  pointer-events: none;
}

.input {
  width: 100%;
  font-size: 0.79vw;
  font-weight: 600;
  border-width: 2px;
  border-radius: 25px;
  border: none;
  height: 100%;
  padding-left: 10%;
  font-family: var(--main-font);
}

.input:hover {
  border: 0.3vh solid var(--color-secondary);
}

select:focus,
input:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
