.wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .input {
    color: var(--color-background);
    width: 100%;
    font-size: 0.8vw;
    border-width: 2px;
    font-weight: 600;
    border-radius: 25px;
    padding-left: 5%;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
  }
}

.wrapper:hover {
  input {
    color: var(--color-background) !important;
    background-color: var(--color-main-text) !important;
    border-color: var(--color-main-text) !important;
  }

  input::placeholder {
    color: var(--color-background) !important;
  }

  .icon {
    color: var(--color-background);
  }
}
textarea:focus,
input:focus {
  outline: none;
  color: var(--color-secondary);
}

.icon {
  height: 50%;
  top: 25%;
  position: absolute;
  box-sizing: border-box;
  right: 4.5%;
}
