.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper:hover {
  color: var(--color-secondary);
}
textarea:focus,
input:focus {
  outline: none;
  color: var(--color-secondary);
}

.icon {
  height: 50%;
  top: 25%;
  position: absolute;
  box-sizing: border-box;
  right: 4.5%;
}

.input {
  color: var(--color-main-text);
  width: 100%;
  font-size: 0.8vw;
  border-width: 2px;
  font-weight: 600;
  border-radius: 25px;
  padding-left: 5%;
  height: 100%;
  box-sizing: border-box;
  vertical-align: top;
}
