.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

.icon {
  height: 100%;
  width: 1.2rem;
  position: absolute;
  box-sizing: border-box;
  left: 3.4%;
}

.input {
  color: var(--color-main-text);
  width: 89%;
  font-size: 1em;
  border-width: 2px;
  font-weight: 600;
  border-radius: 25px;
  padding-left: 3rem;
  height: 86%;
}
