.container {
  position: relative;
  display: flex;
  height: 100%;
  align-items: start;
  margin-left: auto;
  gap: 1vw;
}

.profile {
  cursor: pointer;
  position: relative;
  display: flex;
  place-items: center;
}

.profileimg {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid var(--color-main-text);
  box-sizing: border-box;
}

.username {
  padding-left: 8px;
  font-weight: 600;
  font-size: 1.2em;
}

.productlink {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1000;
}

.notification {
  cursor: pointer;
  height: 100%;
  svg {
    height: 60%;
    padding-top: 3%;
  }
}
