.container {
  position: absolute;
  display: flex;
  height: fit-content;
  align-items: start;
  left: 82.5%;
  gap: 0.4vw;
}

.profile {
  cursor: pointer;
  position: relative;
  display: flex;
  place-items: center;
  gap: 0.5vw;
}

.profileimg {
  max-width: 36px;
  max-height: 36px;
  aspect-ratio: 1;
  width: 2vw;

  border-radius: 50px;
  overflow: hidden;
  border: 2px solid var(--color-main-text);
  box-sizing: border-box;
}

.username {
  font-weight: 600;
  font-size: 1vw;
}

.productlink {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1000;
}

.notification {
  cursor: pointer;
  height: 100%;
  position: relative;
  svg {
    height: 1.8vw;
    aspect-ratio: 1;
  }
}
