.container {
  display: flex;
  height: 80vh;
  width: 18.5%;
  border-right: 2px solid var(--color-main-text);
  flex-direction: column;
  position: fixed;
  left: 0px;
  z-index: 980;
  user-select: none;
  background: var(--color-background);
}

.navigation {
  margin-top: 30%;
  width: 100%;
  height: 100%;

  ul {
    padding-left: 29%;
    display: flex;
    gap: 8.5%;
    height: 94%;
    flex-direction: column;
  }
}

.subscriptionmessage {
  margin-top: auto;
  margin-bottom: 15%;
  margin-left: 29%;
  padding: 5.2% 13.8%;
  font-size: 0.95vw;
  border-radius: 10px;
  width: fit-content;
  background: var(--color-main-text);

  a {
    color: var(--color-background);
    white-space: pre-line;
    text-decoration: none;
  }

  a:active,
  a:focus,
  a:hover {
    outline: 0;
    text-decoration: none;
    color: var(--color-background);
  }

  label {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
  }
}

.divider {
  height: 2px;
  background-color: var(--color-main-text);
  width: 65%;
  margin-left: 5%;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
}

.tooloption {
  align-self: center;
  min-width: 10vw;
  padding: 2.5% 0 2% 0;
  font-size: 1vw;
  font-weight: 600;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-wrap: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  gap: 9%;

  label {
    cursor: pointer;
  }

  img {
    height: 1.5vw;
    aspect-ratio: 1;
  }
}

.toollist {
  gap: 1vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
