.container {
  display: flex;
  height: 80vh;
  width: 18.7%;
  flex-direction: column;
  position: fixed;
  left: 0px;
  z-index: 980;
  user-select: none;
  background: var(--color-background);
}

.container:after {
  content: "";
  position: absolute;
  bottom: 10%;
  height: 100%;
  right: 0;
  border-right: 2px solid var(--color-main-text);
}

.navigation {
  margin-top: 30%;
  width: 100%;
  height: 100%;

  ul {
    padding-left: 29%;
    display: flex;
    gap: 6%;
    height: 94%;
    flex-direction: column;
  }
}

.subscriptionmessage {
  margin-top: auto;
  margin-bottom: 23%;
  margin-left: 29%;
  font-size: 0.9vw;
  border-radius: 10px;
  box-sizing: border-box;
  align-content: center;
  width: 9vw;
  height: 12.5vh;
  background: var(--color-main-text);

  a {
    color: var(--color-background);
    white-space: pre-line;
    text-decoration: none;
  }

  a:active,
  a:focus,
  a:hover {
    outline: 0;
    text-decoration: none;
    color: var(--color-background);
  }

  label {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
  }
}

.divider {
  height: 2px;
  background-color: var(--color-main-text);
  width: 65%;
  margin-left: 5%;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
}

.tooloption {
  align-self: center;
  min-width: 10vw;
  padding: 2.5% 0 2% 0;
  font-size: 1vw;
  font-weight: 600;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-wrap: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  gap: 9%;

  label {
    cursor: pointer;
  }

  img {
    height: 1.5vw;
    aspect-ratio: 1;
  }
}

.toollist {
  gap: 1vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
