.container {
  display: flex;
  height: 80vh;
  width: 19vw;
  border-right: 2px solid var(--color-main-text);
  flex-direction: column;
  position: fixed;
  left: 0px;
  z-index: 980;
  user-select: none;
  background: var(--color-background);
}

.navigation {
  margin-top: 39%;
  width: 100%;
  height: 100%;

  ul {
    padding-left: 29%;
    display: flex;
    gap: 7.5%;
    height: 100%;
    flex-direction: column;
  }
}

.subscriptionmessage {
  margin-top: auto;
  margin-bottom: 15%;
  margin-left: 29%;
  padding: 5.2% 13.8%;
  font-size: 1em;
  border-radius: 10px;
  width: fit-content;
  background: var(--color-main-text);
  color: var(--color-background);
  white-space: pre-line;
}
