.container {
  padding-left: 7.3%;
  box-sizing: border-box;
  height: 100%;
  user-select: none;
}

.bubblecontainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2px solid var(--color-main-text);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 3.2% 3.5%;
  padding-bottom: 0;
  width: 86%;
}

.header {
  display: inline-flex;
  gap: 1vw;
  font-size: 1.6vw;
  font-weight: 600;
  align-items: center;

  label {
    display: flex;
    width: 1.8vw;
    height: 1.8vw;
    place-content: center;
    align-items: center;
    background: var(--color-secondary);
    border-radius: 50px;
    font-size: 1vw;
    font-weight: 600;
    color: var(--color-background);
  }
}

.pagescontainer {
  width: 81.8%;
  margin-top: 2.8vh;
}
