.container {
  box-sizing: border-box;
  padding: calc(27.2vh * 0.08) 2.1% calc(27.2vh * 0.12) 3.6%;
  width: 100%;
  min-height: 27.2vh;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 1.5vh;
}

.container:hover {
  border: 2px solid var(--color-secondary);
  border-radius: 1.5vh;
  transition: all 0.3s ease-out;
}

.header {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 1vh;

  label {
    font-size: 0.75vw;
  }
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

.reviewerimage img,
.reviewerimage svg {
  max-width: 58px;
  max-height: 58px;
  width: 6vh;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 2vw;
  overflow: hidden;
  border: 2px solid var(--color-main-text);
}

.reviewerimage svg {
  padding: 5%;
}

.reviewerinfo {
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
}

.reviewerinfo label {
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 0.8vw;
}

.reviewerinfo p {
  font-size: 0.8vw;
  line-height: 0.8vw;
  font-weight: 400;
  color: var(--color-main-text);
}

.ratings {
  border: 2px solid var(--color-main-text);
  width: fit-content;
  padding: 0.2% 1.9% 0.2% 1.4%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.14vw;
}

.ratings label {
  margin-left: 0.48vw;
  font-size: 1vw;
  font-weight: 600;
}

.ratingsblank,
.ratingsfill {
  height: 2vh;
}
.ratingsblank {
  color: var(--color-main-text);
}

.ratingsfill {
  color: var(--color-secondary);
}

.review {
  display: flex;
  flex-direction: column;
  gap: 1.3vh;
  margin-top: 1.6vh;
}

.review h6 {
  font-size: 0.75vw;
  line-height: 0.75vw;
  font-weight: 700;
  margin: 0;
}

.review label {
  font-size: 0.7vw;
  line-height: 0.55vw;
}

.interactions {
  display: flex;
  margin-top: auto;
  width: 100%;
  height: 3.2vh;
  gap: 1.9vw;
  -webkit-user-select: none;
  user-select: none;
}

.interactions .like,
.interactions .dislike,
.interactions .likeactive,
.interactions .dislikeactive {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;

  svg {
    cursor: pointer;
    height: 80%;
  }
}

.interactions .dislike svg,
.interactions .dislikeactive svg {
  scale: -1;
}

.likeactive,
.dislikeactive {
  fill: var(--color-secondary);

  label {
    color: var(--color-secondary);
  }
}

.interactions label {
  font-size: 0.7vw;
  cursor: pointer;
}

.interactions button {
  height: 100%;
  box-sizing: border-box;
  font-size: 0.7vw;
  padding: 1% 2%;
  font-weight: 600;
  text-wrap: nowrap;
  background-color: var(--color-background);
  color: var(--color-main-text);
  border: 2px solid var(--color-main-text);
  border-radius: 2vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.5vw;
  margin-left: auto;

  svg {
    height: 0.8vh;
  }
}

.interactions button:hover {
  background-color: var(--color-background);
  color: var(--color-main-text);
}

:global(.rs-pagination-group) {
  text-align: center;
}

.ownerlike {
  svg {
    margin: 0;
    width: 20px;
  }
}

.commentsection {
  margin-top: 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;

  textarea {
    width: 100%;
    resize: none;
    border-width: 2px;
    border-radius: 10px;
    min-height: 10vh;
    padding: 1.2em;
    box-sizing: border-box;
    color: var(--color-main-text);
    font-size: 1.1em;
    font-weight: 500;
    overflow-y: auto;
  }
}

.buttons {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 2%;
  justify-content: end;

  button {
    border-radius: 24.5px;
    border: 2px solid var(--color-main-text);
    padding: 1.1% 4.7%;
  }

  .replybutton {
    color: var(--color-background);
    background-color: var(--color-main-text);
  }

  .cancelbutton {
    color: var(--color-main-text);
    background-color: var(--color-background);
  }
}

:global(.rs-badge-wrapper .rs-badge-content) {
  background-color: transparent !important;
  right: 4px !important;
  top: 4px !important;
}

.divider {
  height: 2px;
  background-color: var(--color-main-text);
  flex-grow: 1;
}

.replies {
}

.expandedarrow {
  scale: -1;
}

.reviewdate {
  font-size: 0.65vw;
  font-weight: 500;
  line-height: 0.65vw;
}
