.divider {
  height: 2px;
  background-color: var(--color-main-text);
  flex-grow: 1;
}

.dropdown {
  display: flex;
  cursor: pointer;
  width: 20%;
  height: 5vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  height: 18vh;
}

.value {
  display: flex;
  flex-direction: column;
  gap: 3vh;

  width: 35%;
}

.valuecurrent {
  padding: 0 0.5vw;
  font-size: 1vw;
  display: flex;
  align-items: center;
  border: 2px solid var(--color-main-text);
  border-radius: 18px;
  height: 5vh;
  box-sizing: border-box;
  width: 100%;

  h5 {
    margin: 0;
    width: 100%;
  }
}

.dividervertical {
  width: 2px;
  height: 100%;
  background-color: var(--color-main-text);
  margin: 0 0.5vw;
}

.titleheader {
  width: 50%;
  height: 100%;
  align-items: center;
  display: flex;
}

.date {
  display: flex;
  gap: 3vh;
  flex-direction: column;
  width: 35%;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid var(--color-main-text);
  border-radius: 50px;
  padding: 1%;
  padding-right: 0;
  position: relative;

  h5 {
    margin: 0;
    width: 50%;
    text-align: left;
  }
  svg {
    width: 3vw;
    background: var(--color-secondary);
    border-radius: 50%;
    color: var(--color-background);
    margin-right: 10px;
  }

  button {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.error {
  color: red;
  font-size: 10px;
}

.userlabel {
  width: 100%;
}
