.pagination {
  width: 100%;
  align-self: start;
  text-align: left;
  margin-bottom: 4vh;
}

:global(.rs-pagination-group) {
  place-content: center;
}

:global(.rs-pagination-btn) {
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 50px !important;
  background-color: var(--color-background) !important;
  color: var(--color-main-text) !important;
  border-color: var(--color-main-text) !important;
  margin: 0 0.4em !important;

  svg {
    scale: 2;
  }
}

:global(.rs-pagination-btn-active) {
  border-radius: 50px !important;
  background-color: var(--color-main-text) !important;
  color: var(--color-background) !important;
}

.paginationcontent {
  display: flex;
  justify-content: start;
  width: 100%;
  padding-bottom: 5vh;
}

.list {
  width: 100%;
  display: grid;
  gap: 2.2vh;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
}
